body {
    font-family: Istok Web, sans-serif;
    background-color: #00b6ee;
    overflow: hidden;
}

#ikat-container {
    position: relative;
    background-color: #7D349E;
    height: 50vh;
    border: 5px solid #FDEE00;
    border-radius: 10px;
    top: 5vh;
    margin: 0 3 vw;
}

#ikat-logo {
   position: absolute;
   top: .2rem;
   left: 5rem;
   width: 32.8125rem;
   height: 10.0625rem;
}

#ikat-logo:hover {
   transform: scale(1.04);
}

#ikat-logo img {
   width: 80%; 
}

#ikat-nav {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 7.4rem;
    font-size: 2em;    
}

#ikat-nav:hover {
   transform: scale(1.04);
}

#blogs-link {
   color: white;
   text-decoration: none;
   border: 5px solid #FDEE00;
   border-radius: 5px;
   padding: 5px;
   background-color: #EDA95E;
   font-weight: bold;
   margin: 0 0.5vw
}

#blogs-blue {
    color: white;
    text-decoration: none;
    border: 5px solid #FDEE00;
    border-radius: 5px;
    padding: 5px;
    background-color: #00b6ee;
    font-weight: bold;
    margin: 0 0.5vw
}

#snaps-blue {
   color: white;
    text-decoration: none;
    border: 5px solid #FDEE00;
    border-radius: 5px;
    padding: 5px;
    background-color: #00b6ee;
    font-weight: bold;
    margin: 0 0.5vw
}

#snaps-link {
   color: white;
   text-decoration: none;
   border: 5px solid #FDEE00;
   border-radius: 5px;
   padding: 5px;
   background-color: #EDA95E;
   font-weight: bold;
   margin: 0 0.5vw
}

#read-link {
   color: white;
   text-decoration: none;
   border: 5px solid #FDEE00;
   border-radius: 5px;
   padding: 5px;
   background-color: #EDA95E;
   font-weight: bold;
   margin: 0 0.5vw
}

#read-blue {
    color: white;
    text-decoration: none;
    border: 5px solid #FDEE00;
    border-radius: 5px;
    padding: 5px;
    background-color: #00b6ee;
    font-weight: bold;
    margin: 0 0.5vw
}

#watch-link {
   color: white;
   text-decoration: none;
   border: 5px solid #FDEE00;
   border-radius: 5px;
   padding: 5px;
   background-color: #EDA95E;
   font-weight: bold;
   margin: 0 0.5vw
}

#watch-blue {
    color: white;
    text-decoration: none;
    border: 5px solid #FDEE00;
    border-radius: 5px;
    padding: 5px;
    background-color: #00b6ee;
    font-weight: bold;
    margin: 0 0.5vw
}


#listen-link {
   color: white;
   text-decoration: none;
   border: 5px solid #FDEE00;
   border-radius: 5px;
   padding: 5px;
   background-color: #EDA95E;
   font-weight: bold;
   margin: 0 0.5vw
}

#listen-blue {
    color: white;
    text-decoration: none;
    border: 5px solid #FDEE00;
    border-radius: 5px;
    padding: 5px;
    background-color: #00b6ee;
    font-weight: bold;
    margin: 0 0.5vw
}

#home-link {
   color: white;
   text-decoration: none;
   border: 5px solid #FDEE00;
   border-radius: 5px;
   padding: 5px;
   background-color: #EDA95E;
   font-weight: bold;
   margin: 0 0.5vw;
   transition: transform 0.3s ease-in-out;
}

#home-blue:hover {
   transform: scale(.2);
  }

#home-blue {
    color: white;
    text-decoration: none;
    border: 5px solid #FDEE00;
    border-radius: 5px;
    padding: 5px;
    background-color: #00b6ee;
    font-weight: bold;
    margin: 0 0.5vw
}


section {
    position: relative;
    background-color: white;
    height: 50vh;
    border: 5px solid #FDEE00;
    border-radius: 50% 50% 10px 10px;
    margin: 0 3vw;
    bottom: 22vh;
}

#video {
    position: absolute;
    background-color: #FDEE00;
    top: -2vh;
    z-index: 2;
    height: 64.2vh;
    width: 36vw;
    border-radius: 5px;
    left: -2vw;

}

 #gvlog {
    position: absolute;
    object-fit: cover;
    width: 35vw;
    height: 55vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 2vh;
    outline: none;
 }

 #video-controls {
    position: absolute;
    background-color: #D0FDFE;
    border-radius: 5px;
    width: 36vw;
    height: 11vh;
    bottom: -5vh;
    margin: 0 auto;
    left: 0;
    right: 0;

 }


 #play-triangle {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: black;
    height: 3vh;
    width: 1vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: .25vw;
    margin: auto auto;
 }

#play-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 1vw;
    clip-path: circle(50% at 50% 50%);
    height: 5vh;
    width: 5vh;
    background-color: #7ED0E9;
 } 

 #stopbutton {
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto 0;
   left: 5.1rem;
   clip-path: circle(50% at 50% 50%);
   height: 5vh;
   width: 5vh;
   background-color: #7ED0E9;
   
}

 #stop-square {
    background-color: black;
    height: 2vh;
    width: 1vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5.1rem;
    margin: auto 0;
 }

 #play-button:hover, #stop-button:hover {
    cursor: pointer;
 }

 #scroll {
    position: absolute;
    border-radius: 5px;
    background-color: #F4EFF8;
    width: 26vw;
    height: 5vh;
    top: 0;
    bottom: 0;
    right: 2vw;
    margin: auto 0;
 }

 #seekslider {
    position: absolute;
    background-color: #3A81FF;
    width: 100%;
    margin: auto 0;
    top: 0;
    bottom: 0;
 }

 #friend1:hover img {
   transform: scale(1.2);
}

#friend2:hover img {
   transform: scale(1.2);
}

#blogs-title {
   position: absolute;
    left: 25rem;
    font-size: 2.5em;
}

#first-blog {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 59rem;
   height: 19.2rem;
   left: 23rem;
   top: 10vh;
   border: 5px solid #fff53d;
   border-radius: 10px;
}


h1 {
   color: #FDEE00;
   font-size: 2rem;
}

p {
   color: white;
   font-size: 1.5rem;
}

#friends {
    position: absolute;
    left: 35vw;
    font-size: 2.5em;
}

 #friend1 {
    position: absolute;
    background-color: #7C2899;
    width: 45vw;
    height: 15vh;
    left: 35vw;
    top: 10vh;
    border: 5px solid #fff53d;
    border-radius: 10px;
 }

 #friend1-photo {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 2vw;
    border: 3px solid white;
    border-radius: 5px;
 }

 #friend2 {
    position: absolute;
    background-color: #7C2899;
    width: 45vw;
    height: 15vh;
    left: 35vw;
    top: 26vh;
    border: 5px solid #fff53d;
    border-top: none;
    border-radius: 10px;
 }

 #friend2-photo {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    left: 2vw;
    border: 3px solid white;
    border-radius: 5px;
 }

 .star {
    position: absolute;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: white;
    height: 5vh;
    width: 2vw;
    left: 10vw;
 }

 .position1 {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
}

.position2 {
    position: absolute;
    margin: auto 3vw;
    top: 0;
    bottom: 0;
}

.position3 {
    position: absolute;
    margin: auto 6vw;
    top: 0;
    bottom: 0;
}

.position4 {
    position: absolute;
    margin: auto 9vw;
    top: 0;
    bottom: 0;
}

/* Snaps Flexbox */

.snaps_pictures img {
   max-width: 75%;
}

.snaps_pictures img:hover {
   transform: scale(1.1);
}

.snaps_pictures p {
   color: white;
   top: 3rem;
}

.snaps_pictures {
   margin: auto;
   margin-top: 7rem;
   width: 85%; 
   height: 68%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}

.snap_1 {
    border: 7px solid #99CA3C;
    background-color: #7C2899;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    width: 15%; 
}

.snap_2 {
    border: 7px solid #FDEE00;
    background-color: #7C2899;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    width: 15%; 
}

.snap_3 {
    border: 7px solid #00b6ee;
    background-color: #7C2899;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    width: 15%; 
}

.snap_4 {
    border: 7px solid #DE078B;
    background-color: #7C2899;
    padding: 1rem;
    margin: 5px;
    text-align: center;
    width: 15%; 
}

.snap_5 {
   border: 7px solid #99CA3C;
   background-color: #7C2899;
   padding: 1rem;
   margin: 5px;
   text-align: center;
   width: 15%; 
}

.snap_6 {
   border: 7px solid #FDEE00;
   background-color: #7C2899;
   padding: 1rem;
   margin: 5px;
   text-align: center;
   width: 15%; 
}

/*iRead Books sections*/

#first-read {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 20rem;
   height: 18rem;
   left: 15rem;
   top: 6rem;
   border: 7px solid #FDEE00;
   border-radius: 10px;
}

#first-read img {
   position: relative;
   left: 6.9rem;
   width: 35%;
}

#first-read img:hover {
   transform: scale(1.1);
}

#first-read h1{
   position: relative;
   right: 0.3rem;
   font-size: 1.5rem;
   text-align: center;
   padding: 1rem;
   margin: 5px;
   margin-left: 2rem;
}

#first-read h1::first-line {
   color: white; 
}

#second-read {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 20rem;
   height: 18rem;
   left: 41.59rem;
   top: 6rem;
   border: 7px solid #FDEE00;
   border-radius: 10px;
}

#second-read img {
   position: relative;
   left: 6.9rem;
   width: 35%;
}

#second-read img:hover {
   transform: scale(1.1);
}

#second-read h1{
   font-size: 1.5rem;
   text-align: center;
}

#second-read h1::first-line {
   color: white; 
}

#third-read {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 20rem;
   height: 18rem;
   left: 68.5rem;
   top: 6rem;
   border: 7px solid #FDEE00;
   border-radius: 10px;
}

#third-read img {
   position: relative;
   left: 6.9rem;
   width: 33%;
}

#third-read img:hover {
   transform: scale(1.1);
}

#third-read h1{
   font-size: 1.5rem;
   text-align: center;
}

#third-read h1::first-line {
   color: white; 
}

/*iWatch Films Movie Section*/

#first-movie {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 20rem;
   height: 18rem;
   left: 15rem;
   top: 6rem;
   border: 7px solid #FDEE00;
   border-radius: 10px;
}

#first-movie img {
   position: relative;
   left: 6rem;
   width: 40%;
}

#first-movie img:hover {
   transform: scale(1.1);
}

#first-movie h1{
   font-size: 1.5rem;
   text-align: center;
}

#second-movie {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 20rem;
   height: 18rem;
   left: 41.59rem;
   top: 6rem;
   border: 7px solid #FDEE00;
   border-radius: 10px;
}

#second-movie h1{
   font-size: 1.5rem;
   text-align: center;
}

#second-movie img {
   position: relative;
   left: 6rem;
   width: 40%;
}

#second-movie img:hover {
   transform: scale(1.1);
}

#third-movie {
   position: absolute;
   background-color: #7C2899;
   padding: 0.7rem;
   width: 20rem;
   height: 18rem;
   left: 68.5rem;
   top: 6rem;
   border: 7px solid #FDEE00;
   border-radius: 10px;
}

#third-movie h1{
   font-size: 1.5rem;
   text-align: center;
}

#third-movie img {
   position: relative;
   left: 6rem;
   width: 40%;
}

#third-movie img:hover {
   transform: scale(1.1);
}

/*Listen spotify page */
#spotify {
   position: absolute;
   padding: 0.7rem;
   width: 59rem;
   height: 19.2rem;
   left: 23rem;
   top: 10vh;
   border-radius: 10px;
}

footer {
    position: relative;
    background-color: #FFAC46;
    height: 17vh;
    bottom: 23vh;
    border: 5px solid #fff53d;
    border-radius: 10px;
    margin: 0 3vw;
}

